/libretro-core-info-1.8.4.tar.gz
/retroarch-1.8.4.tar.gz
/retroarch-assets-20191031gitc2bbf23.tar.gz
/retroarch-1.8.5.tar.gz
/retroarch-assets-20200323gite09cbd5.tar.gz
/retroarch-joypad-autoconfig-20200326gita908bd9.tar.gz
/libretro-core-info-1.8.5.tar.gz
/libretro-core-info-1.8.6.tar.gz
/retroarch-1.8.6.tar.gz
/retroarch-assets-20200507git5b945e9.tar.gz
/retroarch-joypad-autoconfig-20200507gitfd99334.tar.gz
/libretro-core-info-1.8.7.tar.gz
/libretro-database-1.8.7.tar.gz
/retroarch-1.8.7.tar.gz
/retroarch-joypad-autoconfig-20200514git28180c1.tar.gz
/libretro-core-info-1.8.8.tar.gz
/libretro-database-1.8.8.tar.gz
/retroarch-1.8.8.tar.gz
/retroarch-assets-20200524git4ebe9ab.tar.gz
/retroarch-joypad-autoconfig-20200524git7d6c1d4.tar.gz
