/libretro-core-info-1.8.4.tar.gz
/retroarch-1.8.4.tar.gz
/retroarch-assets-20191031gitc2bbf23.tar.gz
/retroarch-1.8.5.tar.gz
/retroarch-assets-20200323gite09cbd5.tar.gz
/retroarch-joypad-autoconfig-20200326gita908bd9.tar.gz
/libretro-core-info-1.8.5.tar.gz
